@import '../constantes/colores.scss';

*{
    box-sizing: border-box !important;
    margin: 0 ;
    
}
body{
    background-color: #fc8424 !important;
}
.modal-open{
    padding-right: 0 !important;
}
.login-parent{
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.login-container
{
    margin: 0;
    height: 110vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: $ColorGris;
    clip-path: circle(60% at 49.5% 0);
    padding-bottom:50px;

}

// Login container

    .login-div{
        width: 430px;
        height: 720px;
        padding: 20px 35px 35px 35px;
        border-radius: 40px;
        margin-top: -80px;
        background: $ColorGris;
        box-shadow: 13px 13px 20px #cbced1,
                    -13px -13px 20px $ColorBlanco;
                    
    }

    .logo{
        background:url("microsip.png");
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: initial;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        box-shadow: 
        // logo shadow
        0px 0px 0px #5f5f5f,
        // offset
        0px 0px 0px 5px #ecf0f3,
        // bottom right
        8px 8px 15px #a7aaaf,
        // top left
        -8px -8px 15px $ColorBlanco
        ;
    }
    .title
    {
        text-align: center;
        font-size: 28px;
        padding-top: 24px;
        letter-spacing: 0.5px;
    }
    .sub-title{
        text-align: center;
        font-size: 15px;
        padding-top: 7px;
        letter-spacing: 3px;
    }
    .fields{
        width: 100%;
        padding: 25px 5px 5px 5px;
    }
    .fields{
        & input{
            border: none;
            outline: none;
            background: none;
            font-size: 18px;
            color: #555;
            padding: 20px 10px 20px 5px;
        }    
        & svg{
            height: 22px;
            margin:0 10px -3px 25px;
        }
            
    }
    .name, .cost, .iva, .price{
        margin-bottom: 30px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px $ColorInset,
                    inset -8px -8px 8px $ColorBlanco;

    }
    .addButton{
        border: none;
        cursor: pointer;
        width: 100%;
        height: 60px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Lato', 'sans-serif';
        color: $ColorBlanco;
        text-align: center;
        background-color:  #fc8424 ;
        box-shadow: 3px 3px 8px #b1b1b1,
                    -3px -3px 8px $ColorBlanco;
        transition: 0.2s;
        &:hover{
            background-color: #c65a06;
        }
        &:active{
            background-color: #aa4700;
        }
    }
    // second
    .second{
        width: 100%;
        height: 50vh;
        margin-top: 30px;

       
    }
    table
        {
            box-shadow: 10px 10px 10px rgb(114, 61, 0);
            
        }
   
    
